@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap);

:root {
    --background: #fdfdfd;
    --greenCB: rgba(141, 231, 50, 1);
    --barWidth: 788px;
    --basicShadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --basicColor: #3A3A3A;
    --greyColor: #F9F9F9
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default
}

::selection {
    background: 0 0
}

body {
    overflow-x: hidden;
    background-color: var(--background);
    display: flex;
    justify-content: center
}

.personalizedCream__bar {
    width: var(--barWidth);
    border-radius: 10px;
    background: #8de732;
    background: linear-gradient(90deg, #8de732 0, #aaf261 85%);
    box-shadow: var(--basicShadow);
    text-transform: uppercase;
    padding: 0 20px;
    margin: 20px 0
}

.personalizedCream__bar span {
    background-color: #fff;
    color: var(--greenCB);
    border-radius: 6px;
    padding: 3px 13px;
    font-size: 24px;
    margin-right: 15px;
    -moz-box-shadow: inset rgba(149, 157, 165, .2) 0 4px 10px;
    -webkit-box-shadow: inset rgba(149, 157, 165, .2) 0 4px 10px;
    box-shadow: inset rgba(149, 157, 165, .2) 0 4px 10px
}

.personalizedCream__bar p {
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 19px
}

.personalizedCream__Biomembrane,
.personalizedCream__activeSubstances,
.personalizedCream__completeOrder {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: var(--barWidth);
    box-shadow: var(--basicShadow);
    padding: 25px 0;
    border-radius: 15px
}

.personalizedCream__editPanel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column
}

.personalizedCream__informationAboutCreams,
.personalizedCream__staticInfo {
    width: 450px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center
}

.staticInfo--short {
    width: 256px
}

.personalizedCream__staticInfo p {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: var(--basicColor)
}

.personalizedCream__infoList {
    display: flex;
    flex-direction: column
}

.personalizedCream__informationAboutCreams {
    background-color: #fafafa;
    border-radius: 10px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    margin: 5px 0
}

.personalizedCream__inputToBiomembrane {
    width: 80px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-family: Montserrat, sans-serif;
    background-color: var(--greyColor);
    outline: 0;
    text-align: center;
    font-size: 15px
}

.personalizedCream__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 5px
}

.personalizedCream__placeForValue {
    width: 50px;
    height: 50px;
    background-color: var(--greyColor);
    line-height: 50px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px
}

.personalizedCream__changeValueBtn__wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column
}

.personalizedCream__changeValueBtn {
    width: 30px;
    height: 24px;
    background-color: var(--greenCB);
    text-align: center;
    line-height: 25px;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 23px;
    cursor: pointer;
    transition: .4s
}

.personalizedCream__changeValueBtn:hover {
    color: #000
}

.personalizedCream__changeValueBtn:active {
    background-color: rgb(120, 194, 47);
    color: rgb(255, 255, 255);
}

.personalizedCream__changeValueBtn--add {
    border-top-right-radius: 10px
}

.personalizedCream__changeValueBtn--substract {
    border-bottom-right-radius: 10px
}

.personalizedCream__changeValueBtn__wrapper span {
    width: 30px;
    height: 2px;
    background-color: #fff
}

.personalizedCream__allPanels {
    display: flex
}

.personalizedCream__iq {
    display: flex;
    flex-direction: column
}

.personalizedCream__activeSubstances {
    flex-wrap: wrap;
}

.placeForValue--long {
    width: 340px;
    font-size: 15px;
    text-align: left;
    padding-left: 20px;
}

.placeForValue__classic {
    border-radius: 10px;
    width: 294px;
    color: #747474;
}

.personalizedCream__amountOfPossibleSubstances {
    width: 380px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 10px;
    background: #8de732;
    background-color: linear-gradient(90deg, #8de732 0, #aaf261 85%);
    font-family: "Montserrat";
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    box-shadow: var(--basicShadow);
    cursor: pointer;
    transition: 0.4s;
}

.personalizedCream__amountOfPossibleSubstances:hover {
    background-color: #83d431;
}

.personalizedCream__amountOfPossibleSubstances:active {
    background-color: #408000;
}

.personalizedCream__completeOrder {
    flex-direction: column;
    padding: 25px 20px;
    font-family: 'Montserrat';
}

.personalizedCream__orderTitles,
.personalizedCream__productInOrder {
    display: flex;
    width: 100%;
    font-weight: 500;
    font-size: 15px;
    color: #3A3A3A;
    justify-content: space-between;
    margin: 11px 0;
}

.personalizedCream__productInOrder {
    font-weight: 400;
    font-size: 13px;
}

.cremeBar__hidden {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

.cremeBar__hidden__card {
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: column;
    width: 90vw;
    height: 90vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
}

.cremeBar__hidden__card h1,
.cremeBar__hidden__card p,
.cremeBar__hidden__card button {
    font-family: 'Montserrat', sans-serif;
}

.cremeBar__hidden__card h1,
.cremeBar__hidden__card p {
    font-weight: 500;
    font-size: 28px;
    font-weight: 500;
}

.cremeBar__hidden__card p {
    font-size: 19px;
    max-width: 70%;
}

.cremeBar__hidden__bar {
    width: 120px;
    height: 5px;
    background-color: #AAF261;
    margin: 25px 0;
}

.cremeBar__hidden__Content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.cremeBar__hidden__card button {
    padding: 12px 20vw;
    background: #8de732;
    background-color: linear-gradient(90deg, #8de732 0, #aaf261 85%);
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
    border: none;
    font-size: 24px;
    font-weight: 600;
    box-shadow: var(--basicShadow);
}


/* MOBILE VERSION START */
@media (min-width:650px) {
    .personalizedCream__bar {
        height: 49px;
        line-height: 49px
    }

    .mobileElement {
        display: none;
    }

    .personalizedCream__miniMobilePanel {
        display: none;
    }
}

@media (max-width:650px) {
    .personalizedCream__bar {
        width: 100vw;
        border-radius: 0;
        text-align: center;
        padding: 10px 20px
    }

    .personalizedCream__bar span {
        display: none
    }

    .personalizedCream__Biomembrane {
        flex-wrap: wrap
    }

    .personalizedCream__Biomembrane {
        max-width: 100vw;
        box-shadow: var(--basicShadow);
        padding: 25px 0;
        border-radius: 15px
    }

    .personalizedCream__informationAboutCreams {
        font-size: 14px
    }

    .personalizedCream__informationAboutCreams,
    .personalizedCream__staticInfo {
        width: 95vw;
        height: 100px
    }

    .personalizedCream__staticInfo p {
        font-size: 15px
    }

    .personalizedCream__allPanels {
        width: 100vw;
        justify-content: space-evenly
    }

    .personalizedCream__placeForValue {
        width: 68px;
        font-size: 22px
    }

    .personalizedCream__editPanel {
        display: none;
    }

    .personalizedCream__flexContainer {
        display: flex;
        justify-content: space-around;
    }

    .personalizedCream--low {
        height: 40px;
    }

    .personalizedCream__flexContainer {
        padding: 8px;
        margin: 8px;
        border-bottom: 2px solid var(--greenCB);
    }

  
    
    .cremeBar__hidden {
        display: flex;
 
    }
}

/* MOBILE VERSION END */