@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap);

:root {
    --background: #fdfdfd;
    --greenCB: rgba(141, 231, 50, 1);
    --barWidth: 788px;
    --basicShadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --basicColor: #3A3A3A;
    --greyColor: #F9F9F9
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default
}

::selection {
    background: 0 0
}

body {
    overflow-x: hidden;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.personalizedCream {
    margin-top: 110px
}

.personalizedCream__bar {
    width: var(--barWidth);
    border-radius: 10px;
    background: #8de732;
    background: linear-gradient(90deg, #8de732 0, #aaf261 85%);
    box-shadow: var(--basicShadow);
    text-transform: uppercase;
    padding: 0 20px;
    margin: 20px 0
}

.personalizedCream__bar span {
    background-color: #fff;
    color: var(--greenCB);
    border-radius: 6px;
    padding: 3px 13px;
    font-size: 24px;
    margin-right: 15px;
    -moz-box-shadow: inset rgba(149, 157, 165, .2) 0 4px 10px;
    -webkit-box-shadow: inset rgba(149, 157, 165, .2) 0 4px 10px;
    box-shadow: inset rgba(149, 157, 165, .2) 0 4px 10px
}

.personalizedCream__bar p {
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 19px
}

.personalizedCream__Biomembrane,
.personalizedCream__activeSubstances,
.personalizedCream__completeOrder {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: var(--barWidth);
    box-shadow: var(--basicShadow);
    padding: 25px 0;
    border-radius: 15px
}

.personalizedCream__editPanel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column
}

.personalizedCream__informationAboutCreams,
.personalizedCream__staticInfo {
    width: 450px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center
}

.staticInfo--short {
    width: 256px
}

.personalizedCream__staticInfo p {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: var(--basicColor)
}

.personalizedCream__infoList {
    display: flex;
    flex-direction: column
}

.personalizedCream__informationAboutCreams {
    background-color: #fafafa;
    border-radius: 10px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    margin: 5px 0
}

.personalizedCream__inputToBiomembrane {
    width: 80px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-family: Montserrat, sans-serif;
    background-color: var(--greyColor);
    outline: 0;
    text-align: center;
    font-size: 15px
}

.personalizedCream__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 5px
}

.personalizedCream__placeForValue {
    width: 50px;
    height: 50px;
    background-color: var(--greyColor);
    line-height: 50px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    position: relative
}

.personalizedCream__changeValueBtn__wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column
}

.personalizedCream__changeValueBtn {
    width: 30px;
    height: 24px;
    background-color: var(--greenCB);
    text-align: center;
    line-height: 25px;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 23px;
    cursor: pointer;
    transition: .4s
}

.personalizedCream__changeValueBtn:hover {
    color: #000
}

.personalizedCream__changeValueBtn:active {
    background-color: #78c22f;
    color: #fff
}

.personalizedCream__changeValueBtn--add {
    border-top-right-radius: 10px
}

.personalizedCream__changeValueBtn--substract {
    border-bottom-right-radius: 10px
}

.personalizedCream__changeValueBtn__wrapper span {
    width: 30px;
    height: 2px;
    background-color: #fff
}

.personalizedCream__allPanels {
    display: flex
}

.personalizedCream__iq {
    display: flex;
    flex-direction: column
}

.personalizedCream__activeSubstances {
    flex-wrap: wrap
}

.placeForValue--long {
    width: 340px;
    font-size: 15px;
    text-align: left;
    padding-left: 20px
}

.placeForValue__classic {
    border-radius: 10px;
    width: 294px;
    color: #747474
}

.personalizedCream__classicButton {
    width: 380px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 10px;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    box-shadow: var(--basicShadow);
    cursor: pointer;
    background: #8de732;
    background: linear-gradient(90deg, #8de732 0, #aaf261 85%);
    transition: .7s
}

.personalizedCream__classicButton--addToCart {
    margin: 15px 0;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    position: relative;
    left: 100%;
    transform: translateX(-100%)
}

.personalizedCream__classicButton:hover {
    background: #2dd164
}

.personalizedCream__classicButton:active {
    background: #039634
}

.personalizedCream__amountOfPossibleSubstances:hover {
    background-color: #83d431
}

.personalizedCream__amountOfPossibleSubstances:active {
    background-color: #408000
}

.personalizedCream__completeOrder {
    flex-direction: column;
    padding: 25px 20px;
    font-family: Montserrat
}

.personalizedCream__orderTitles,
.personalizedCream__productInOrder,
.personalizedCream__summary {
    display: flex;
    width: 100%;
    font-weight: 500;
    font-size: 15px;
    color: #3a3a3a;
    justify-content: space-between;
    margin: 11px 0
}

.personalizedCream__summary {
    margin-top: 30px
}

.personalizedCream__summary .personalizedCream__cell:nth-child(4) {
    font-size: 22px
}

.personalizedCream__productInOrder {
    font-weight: 400;
    font-size: 13px;
    border-top: 2px solid #c4c4c4;
    padding-top: 15px
}

.cremeBar__hidden {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 3;
}

@media (max-width: 650px) {
    body {
        overflow: hidden;
        width: 100vw;
        height: 100vh;

    }
}

.cremeBar__hidden__card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    height: 90vh;
    box-shadow: rgba(50, 50, 93, .25) 0 6px 12px -2px, rgba(0, 0, 0, .3) 0 3px 7px -3px;
    border-radius: 10px
}

.cremeBar__hidden__card button,
.cremeBar__hidden__card h1,
.cremeBar__hidden__card p {
    font-family: Montserrat, sans-serif
}

.cremeBar__hidden__card h1,
.cremeBar__hidden__card p {
    font-weight: 500;
    font-size: 28px;
    font-weight: 500
}

.cremeBar__hidden__card p {
    font-size: 19px;
    max-width: 70%
}

.cremeBar__hidden__bar {
    width: 120px;
    height: 5px;
    background-color: #aaf261;
    margin: 25px 0
}

.cremeBar__hidden__Content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center
}

.cremeBar__hidden__card button {
    padding: 12px 20vw;
    background: #8de732;
    background-color: linear-gradient(90deg, #8de732 0, #aaf261 85%);
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #fff;
    border: none;
    font-size: 24px;
    font-weight: 600;
    box-shadow: var(--basicShadow)
}

.personalizedCream__cell {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 25%
}

.personalizedCream__productInOrder div:nth-child(4) {
    font-weight: 600
}

.cremeBar__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85vw;
    height: 110px;
    box-shadow: rgba(149, 157, 165, 0.116) 0px 8px 24px;
    background-color: #fafafa;
    font-family: Montserrat, sans-serif;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: fixed;
    top: 0;
    left: 7.5vw;
    z-index: 2;
}

.cremeBar__menu a {
    color: #000;
    text-decoration: none;
    transition: .5s;
    font-size: 17px
}

.cremeBar__menu a:hover {
    color: green;
    cursor: pointer
}

.cremeBar__menu__logo {
    width: 120px
}

.Eprom_SocialMedia_v1-icons {
    padding: 0;
    list-style: none;
    margin: 4px
}

.Eprom_SocialMedia_v1-icons li {
    display: inline-block;
    margin: .15em;
    position: relative;
    font-size: 14px
}

.Eprom_SocialMedia_v1-icons i {
    color: #fff;
    position: absolute;
    top: 21px;
    left: 21px;
    transition: all 265ms ease-out
}

.Eprom_SocialMedia_v1-icons a {
    display: inline-block
}

.Eprom_SocialMedia_v1-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #b2ff73, #6eff34);
    transition: all 265ms ease-out
}

.Eprom_SocialMedia_v1-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in
}

.Eprom_SocialMedia_v1-icons a:hover i {
    transform: scale(2.2);
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2);
    color: #c24e84;
    background: -webkit-linear-gradient(60deg, #b2ff73, #6eff34);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in
}

.personalizedCream__placeForValue__info {
    position: absolute;
    padding: 0 15px;
    z-index: -1;
    border-radius: 10px;
    background: #8de732;
    background: linear-gradient(90deg, #8de732 0, #00c21a 85%);
    box-shadow: var(--basicShadow);
    color: #fff;
    font-size: 15px;
    padding: 10px;
    font-family: Montserrat;
    font-weight: 500;
    margin-top: -20px;
    margin-left: 30px;
    opacity: 0;
    transition: .8s;
    width: 300px;
    text-align: center;
    line-height: 20px;
    z-index: 1;

}

.personalizedCream__placeForValue i {
    background: #8de732;
    box-shadow: var(--basicShadow);
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 10px;
    border-radius: 50%;
    color: #fafafa;
    transition: .4s;
    margin-left: 15px;
    position: absolute;
    right: 15px;
    top: 25%;
    cursor: pointer
}

.personalizedCream__placeForValue i:hover {
    color: #dfdfdf
}

.personalizedCream__placeForValue i:hover .personalizedCream__placeForValue__info {
    opacity: 1;
    margin-top: 10px
}

.personalizedCream__placeForValue--small {
    font-size: 13px
}

.personalizedCream__classicButton--margin {
    margin-top: 15px
}

