@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --background: #fdfdfd;
    --greenCB: rgba(141, 231, 50, 1);
    --barWidth: 788px;
    --basicShadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --basicColor: #3A3A3A;
    --greyColor: #F9F9F9;
    /* background-color: var(--glowny-kolor-tla); */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

*::selection {
    background: transparent;
}

body {
    overflow-x: hidden;
    background-color: var(--background);
    display: flex;
    justify-content: center;
}

.personalizedCream__bar {
    width: var(--barWidth);
    height: 49px;
    border-radius: 10px;
    background: rgb(141, 231, 50);
    background: linear-gradient(90deg, rgba(141, 231, 50, 1) 0%, rgba(170, 242, 97, 1) 85%);
    box-shadow: var(--basicShadow);
    text-transform: uppercase;
    line-height: 49px;
    padding: 0 20px;
    margin: 20px 0;
}

.personalizedCream__bar span {
    background-color: rgb(255, 255, 255);
    color: var(--greenCB);
    border-radius: 6px;
    padding: 3px 13px;
    font-size: 24px;
    margin-right: 15px;
    -moz-box-shadow: inset rgba(149, 157, 165, 0.2) 0px 4px 10px;
    -webkit-box-shadow: inset rgba(149, 157, 165, 0.2) 0px 4px 10px;
    box-shadow: inset rgba(149, 157, 165, 0.2) 0px 4px 10px;

}

.personalizedCream__bar p {
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 19px;
}

.personalizedCream__Biomembrane {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: var(--barWidth);
    box-shadow: var(--basicShadow);
    padding: 25px 0;
    border-radius: 15px;
}

.personalizedCream__editPanel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.personalizedCream__staticInfo,
.personalizedCream__informationAboutCreams {
    width: 450px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.staticInfo--short {
    width: 256px;
}

.personalizedCream__staticInfo p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: var(--basicColor);
}

.personalizedCream__infoList {
    display: flex;
    flex-direction: column;
}

.personalizedCream__informationAboutCreams {
    background-color: #fafafa;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin: 5px 0;
}

.personalizedCream__inputToBiomembrane {
    width: 80px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--greyColor);
    outline: none;
    text-align: center;
    font-size: 15px;
}

.personalizedCream__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 5px;
}

.personalizedCream__placeForValue {
    width: 50px;
    height: 50px;
    background-color: var(--greyColor);
    line-height: 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.personalizedCream__changeValueBtn__wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

}

.personalizedCream__changeValueBtn {
    width: 30px;
    height: 24px;
    background-color: var(--greenCB);
    text-align: center;
    line-height: 25px;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    cursor: pointer;
    transition: .4s;
}

.personalizedCream__changeValueBtn:hover {
    color: black;
}

.personalizedCream__changeValueBtn:active {
    color: black;
}

.personalizedCream__changeValueBtn--add {
    border-top-right-radius: 10px;
}

.personalizedCream__changeValueBtn--substract {
    border-bottom-right-radius: 10px;
}

.personalizedCream__changeValueBtn__wrapper span {
    width: 30px;
    height: 2px;
    background-color: white;
}

.personalizedCream__allPanels {
    display: flex;


}

.personalizedCream__iq {
    display: flex;
    flex-direction: column;
}

@media (max-width: 650px) {
    .personalizedCream__bar {
        width: 100vw;
        border-radius: 0px;
        text-align: center;
    }

    .personalizedCream__Biomembrane {
        flex-wrap: wrap;
    }


.personalizedCream__Biomembrane {
    max-width: 100vw;
    box-shadow: var(--basicShadow);
    padding: 25px 0;
    border-radius: 15px;
}

.personalizedCream__informationAboutCreams {
    font-size: 18px;
}

.personalizedCream__staticInfo, .personalizedCream__informationAboutCreams {
    width: 95vw;
    height: 100px;
}

.personalizedCream__staticInfo p {
    font-size: 15px;

    
    }

}