@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --background: #fdfdfd;
    --greenCB: rgba(141, 231, 50, 1);
    --barWidth: 788px;
    --basicShadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --basicColor: #3A3A3A;
    /* background-color: var(--glowny-kolor-tla); */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: var(--background);
    display: flex;
    justify-content: center;
}

.personalizedCream__bar {
    width: var(--barWidth);
    height: 49px;
    border-radius: 10px;
    background: rgb(141, 231, 50);
    background: linear-gradient(90deg, rgba(141, 231, 50, 1) 0%, rgba(170, 242, 97, 1) 85%);
    box-shadow: var(--basicShadow);
    text-transform: uppercase;
    line-height: 49px;
    padding: 0 20px;
    margin: 20px 0;
}

.personalizedCream__bar span {
    background-color: rgb(255, 255, 255);
    color: var(--greenCB);
    border-radius: 6px;
    padding: 3px 13px;
    font-size: 24px;
    margin-right: 15px;
    box-shadow: var(--basicShadow);
}

.personalizedCream__bar p {
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 19px;
}

.personalizedCream__Biomembrane {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: var(--barWidth);
    box-shadow: var(--basicShadow);
    padding: 25px 0;
}

.personalizedCream__staticInfo,
.personalizedCream__informationAboutCreams {
    width: 450px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.personalizedCream__staticInfo p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: var(--basicColor);
}

.personalizedCream__infoList {
    display: flex;
    flex-direction: column;
}

.personalizedCream__informationAboutCreams {
    background-color: #fafafa;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin: 5px 0;
}