@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


:root {
    --background: #fdfdfd;
    --greenCB: rgba(141, 231, 50, 1);
    --barWidth: 60vw;
    --basicShadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --basicColor: #3A3A3A;
    --greyColor: #F9F9F9
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default
}

::selection {
    background: 0 0
}

body {
    overflow-x: hidden;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.personalizedCream {
    margin-top: 110px
}

.personalizedCream__bar {
    width: var(--barWidth);
    border-radius: 10px;
    background: #8de732;
    background: linear-gradient(90deg, #8de732 0, #aaf261 85%);
    box-shadow: var(--basicShadow);
    text-transform: uppercase;
    padding: 0 20px;
    margin: 20px 0
}

.personalizedCream__bar span {
    background-color: #fff;
    color: var(--greenCB);
    border-radius: 6px;
    padding: 3px 13px;
    font-size: 24px;
    margin-right: 15px;
    -moz-box-shadow: inset rgba(149, 157, 165, .2) 0 4px 10px;
    -webkit-box-shadow: inset rgba(149, 157, 165, .2) 0 4px 10px;
    box-shadow: inset rgba(149, 157, 165, .2) 0 4px 10px
}

.personalizedCream__bar p {
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 19px
}

.personalizedCream__Biomembrane,
.personalizedCream__activeSubstances,
.personalizedCream__completeOrder {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: var(--barWidth);
    box-shadow: var(--basicShadow);
    padding: 25px 0;
    border-radius: 15px
}

.personalizedCream__activeSubstances {
    padding: 0;
}

.personalizedCream__editPanel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column
}

.personalizedCream__informationAboutCreams,
.personalizedCream__staticInfo {
    width: 450px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center
}

.personalizedCream__informationAboutCreams {
    width: 39vw;
}

.staticInfo--short {
    width: 256px
}

.personalizedCream__staticInfo p {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: var(--basicColor)
}

.personalizedCream__infoList {
    display: flex;
    flex-direction: column
}

.personalizedCream__informationAboutCreams {
    background-color: #fafafa;
    border-radius: 10px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    margin: 5px 0
}

.personalizedCream__inputToBiomembrane {
    width: 80px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-family: Montserrat, sans-serif;
    background-color: var(--greyColor);
    outline: 0;
    text-align: center;
    font-size: 15px
}

.personalizedCream__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 5px
}

.personalizedCream__placeForValue {
    width: 50px;
    height: 50px;
    background-color: var(--greyColor);
    line-height: 50px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    position: relative
}

.personalizedCream__changeValueBtn__wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column
}

.personalizedCream__changeValueBtn {
    width: 30px;
    height: 24px;
    background-color: var(--greenCB);
    text-align: center;
    line-height: 25px;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 23px;
    cursor: pointer;
    transition: .4s
}

.personalizedCream__changeValueBtn:hover {
    color: #000
}

.personalizedCream__changeValueBtn:active {
    background-color: #78c22f;
    color: #fff
}

.personalizedCream__changeValueBtn--add {
    border-top-right-radius: 10px
}

.personalizedCream__changeValueBtn--substract {
    border-bottom-right-radius: 10px
}

.personalizedCream__changeValueBtn__wrapper span {
    width: 30px;
    height: 2px;
    background-color: #fff
}

.personalizedCream__allPanels {
    display: flex
}

.personalizedCream__iq {
    display: flex;
    flex-direction: column
}

.personalizedCream__activeSubstances {
    flex-wrap: wrap
}

.placeForValue--long {
    width: 340px;
    font-size: 15px;
    text-align: left;
    padding-left: 20px
}

.placeForValue__classic {
    border-radius: 10px;
    width: 22.4vw;
    color: #747474
}

.personalizedCream__classicButton {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 10px;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    box-shadow: var(--basicShadow);
    cursor: pointer;
    background: #8de732;
    background: linear-gradient(90deg, #8de732 0, #aaf261 85%);
    transition: .7s
}

.personalizedCream__classicButton--addToCart {
    margin: 15px 0;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    position: relative;
    left: 100%;
    transform: translateX(-100%)
}

.personalizedCream__classicButton--hoverOn:hover {
    background: #2dd164
}

.personalizedCream__classicButton--hoverOn:active {
    background: #039634
}

.personalizedCream__amountOfPossibleSubstances:hover {
    background-color: #83d431
}

.personalizedCream__amountOfPossibleSubstances:active {
    background-color: #408000
}


.personalizedCream__completeOrder {
    flex-direction: column;
    padding: 25px 20px;
    font-family: Montserrat
}

.personalizedCream__orderTitles,
.personalizedCream__productInOrder,
.personalizedCream__summary {
    display: flex;
    width: 100%;
    font-weight: 500;
    font-size: 15px;
    color: #3a3a3a;
    justify-content: space-between;
    margin: 11px 0
}

.personalizedCream__summary {
    margin-top: 30px
}

.personalizedCream__summary .personalizedCream__cell:nth-child(4) {
    font-size: 22px
}

.personalizedCream__productInOrder {
    font-weight: 400;
    font-size: 13px;
    border-top: 2px solid #c4c4c4;
    padding-top: 15px
}

.cremeBar__hidden {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 3;
}


.cremeBar__hidden__card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    height: 90vh;
    box-shadow: rgba(50, 50, 93, .25) 0 6px 12px -2px, rgba(0, 0, 0, .3) 0 3px 7px -3px;
    border-radius: 10px
}

.cremeBar__hidden__card button,
.cremeBar__hidden__card h1,
.cremeBar__hidden__card p {
    font-family: Montserrat, sans-serif
}

.cremeBar__hidden__card h1,
.cremeBar__hidden__card p {
    font-weight: 500;
    font-size: 28px;
    font-weight: 500
}

.cremeBar__hidden__card p {
    font-size: 19px;
    max-width: 70%
}

.cremeBar__hidden__bar {
    width: 120px;
    height: 5px;
    background-color: #aaf261;
    margin: 25px 0
}

.cremeBar__hidden__Content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center
}

.cremeBar__hidden__card button {
    padding: 12px 20vw;
    background: #8de732;
    background-color: linear-gradient(90deg, #8de732 0, #aaf261 85%);
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #fff;
    border: none;
    font-size: 24px;
    font-weight: 600;
    box-shadow: var(--basicShadow)
}

.personalizedCream__cell {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 25%
}

.personalizedCream__productInOrder div:nth-child(4) {
    font-weight: 600
}

/* MENU  */

.cremeBar__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85vw;
    height: 110px;
    box-shadow: rgba(149, 157, 165, 0.116) 0px 8px 24px;
    background-color: #fafafa;
    font-family: Montserrat, sans-serif;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: fixed;
    top: 0;
    left: 7.5vw;
    z-index: 2;
}

.cremeBar__menu a {
    color: #000;
    text-decoration: none;
    transition: .5s;
    font-size: 17px
}

.cremeBar__menu a:hover {
    color: green;
    cursor: pointer
}

.cremeBar__menu__logo {
    width: 120px;
    cursor: pointer;
}

.Eprom_SocialMedia_v1-icons {
    padding: 0;
    list-style: none;
    margin: 4px
}

.Eprom_SocialMedia_v1-icons li {
    display: inline-block;
    margin: .15em;
    position: relative;
    font-size: 14px
}

.Eprom_SocialMedia_v1-icons i {
    color: #fff;
    position: absolute;
    top: 21px;
    left: 21px;
    transition: all 265ms ease-out
}

.Eprom_SocialMedia_v1-icons a {
    display: inline-block;
    cursor: pointer;
}

.Eprom_SocialMedia_v1-icons a:before {

    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #b2ff73, #6eff34);
    transition: all 265ms ease-out
}

.Eprom_SocialMedia_v1-icons a:hover:before {

    transform: scale(0);
    transition: all 265ms ease-in
}

.Eprom_SocialMedia_v1-icons a:hover i {
    cursor: pointer;

    transform: scale(2.2);
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2);
    color: #c24e84;
    background: -webkit-linear-gradient(60deg, #b2ff73, #6eff34);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in
}

.personalizedCream__placeForValue__info {
    position: absolute;
    padding: 0 15px;
    border-radius: 10px;
    background: #8de732;
    background: linear-gradient(90deg, #8de732 0, #00c21a 85%);
    box-shadow: var(--basicShadow);
    color: #fff;
    font-size: 15px;
    padding: 10px;
    font-family: Montserrat;
    font-weight: 500;
    margin-left: -290px;
    opacity: 0;
    transition: .4s;
    width: 23vw;
    text-align: center;
    line-height: 20px;
    z-index: -1;
}


.personalizedCream__placeForValue i {
    background: #8de732;
    box-shadow: var(--basicShadow);
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 10px;
    border-radius: 50%;
    color: #fafafa;
    transition: .4s;
    margin-left: 15px;
    position: absolute;
    right: 15px;
    top: 25%;
    cursor: pointer
}

.personalizedCream__placeForValue i:hover {
    color: #dfdfdf
}

.personalizedCream__placeForValue i:hover .personalizedCream__placeForValue__info {
    z-index: 3331;
    opacity: 1;
    margin-top: 10px
}

.personalizedCream__placeForValue--small {
    font-size: 13px
}

.personalizedCream__classicButton--margin {
    margin-top: 15px
}

/* KATEGORIE  */

.cremeBar__categories__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 130px;
}

.cremeBar__categoriesTitle {
    border-radius: 10px;
    background: #8de732;
    background: linear-gradient(90deg, #8de732 0, #aaf261 85%);
    width: 23vw;
    height: 47px;
    line-height: 47px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    padding: 0 30px;
    font-weight: 600;
    box-shadow: var(--basicShadow);
    margin-bottom: 10px;
}

.cremeBar__categoriesMenu {
    background-color: rgb(255, 255, 255);
    width: 23vw;
    border-radius: 10px;
    box-shadow: var(--basicShadow);
    color: #3A3A3A;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.cremeBar__categoriesMenu__cell {
    width: 100%;
    text-align: left;
    padding: 17px 0;
    border-bottom: 2px solid #E1E1E1;
}

.cremeBar__categoriesMenu__cell:nth-child(12) {
    border-bottom: none;
}

.cremeBar--bold {
    font-weight: 600;
}



.cremeBar__categoriesMenu a {
    height: 30px;
    width: 100%;
    text-decoration: none;
    color: #3A3A3A;
    ;
    padding: 10px 0;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.4s;
}

.cremeBar__categoriesMenu a:hover {
    color: rgb(96, 184, 8);
}

/* ROW CONTAINER  */
.rowContainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 85vw;

}

@media (max-width: 650px) {
    body {
        overflow: hidden;

    }
}


/* SLIDER NA STRONE GLOWNA  */

.slider18Wrapper {
    font-family: "Poppins", serif;
    letter-spacing: 0.6px;
    font-size: 16px;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    width: 100%;
    transform: translate3d(0, 0, 0);
}

@media (min-width: 630px) {
    .slider18Wrapper {
        flex-direction: row;
        width: 130%;
        margin-left: -15%;
    }
}

.slider18Wrapper .slider18Wrapper--element:not(:first-child):not(:last-child):hover {
    flex: 2;
}

.slider18Wrapper .slider18Wrapper--element:not(:first-child):not(:last-child):hover:after {
    opacity: 0.8;
}

.slider18Wrapper .slider18Wrapper--element:not(:first-child):not(:last-child):hover article {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.2s 0.2s, transform 0.2s 0.2s;
}

@media (min-width: 630px) {
    .slider18Wrapper .slider18Wrapper--element:not(:first-child):not(:last-child):hover article {
        transform: translateY(0) skewX(-15deg);
    }
}

.slider18Wrapper--element {
    flex: 1;
    position: relative;
    width: 100%;
    min-height: 20vh;
    overflow: hidden;
    z-index: 1;
    transition: flex-grow 0.2s, opacity 0.2s;
}

.slider18Wrapper--element:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: transform 0.2s, width 0.2s;
}

.slider18Wrapper--element:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 0.2s;
}

@media (min-width: 630px) {
    .slider18Wrapper--element {
        width: 20%;
        height: 100vh;
        margin-right: -1px;
        transform: skewX(15deg) translateZ(0);
    }

    .slider18Wrapper--element:before {
        left: -100%;
        width: 400%;
        transform: skewX(-15deg);
    }
}

.slider18Wrapper--element:nth-child(1):before {
    background-color: #e60000;
    background-image: url(https://images.pexels.com/photos/38012/pexels-photo-38012.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

.hide-images .slider18Wrapper--element:nth-child(1):before {
    background-image: none;
}

.slider18Wrapper--element:first-child:before,
.slider18Wrapper--element:last-child:before {
    background-color: #600;
}

.slider18Wrapper--element:first-child:after,
.slider18Wrapper--element:last-child:after {
    opacity: 0.5;
}

.slider18Wrapper--element:first-child article,
.slider18Wrapper--element:last-child article {
    display: none;
}

.slider18Wrapper--element:nth-child(2):before {
    background-color: #c00;
    background-image: url(https://images.pexels.com/photos/601798/pexels-photo-601798.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

.hide-images .slider18Wrapper--element:nth-child(2):before {
    background-image: none;
}

.slider18Wrapper--element:first-child:before,
.slider18Wrapper--element:last-child:before {
    background-color: #600;
}

.slider18Wrapper--element:first-child:after,
.slider18Wrapper--element:last-child:after {
    opacity: 0.5;
}

.slider18Wrapper--element:first-child article,
.slider18Wrapper--element:last-child article {
    display: none;
}

.slider18Wrapper--element:nth-child(3):before {
    background-color: #b30000;
    background-image: url(https://images.pexels.com/photos/1028223/pexels-photo-1028223.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

.hide-images .slider18Wrapper--element:nth-child(3):before {
    background-image: none;
}

.slider18Wrapper--element:first-child:before,
.slider18Wrapper--element:last-child:before {
    background-color: #600;
}

.slider18Wrapper--element:first-child:after,
.slider18Wrapper--element:last-child:after {
    opacity: 0.5;
}

.slider18Wrapper--element:first-child article,
.slider18Wrapper--element:last-child article {
    display: none;
}

.slider18Wrapper--element:nth-child(4):before {
    background-color: #900;
    background-image: url(https://images.pexels.com/photos/2627945/pexels-photo-2627945.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
}

.hide-images .slider18Wrapper--element:nth-child(4):before {
    background-image: none;
}

.slider18Wrapper--element:first-child:before,
.slider18Wrapper--element:last-child:before {
    background-color: #600;
}

.slider18Wrapper--element:first-child:after,
.slider18Wrapper--element:last-child:after {
    opacity: 0.5;
}

.slider18Wrapper--element:first-child article,
.slider18Wrapper--element:last-child article {
    display: none;
}

.slider18Wrapper--element:nth-child(5):before {
    background-color: #800000;
    background-image: url(https://images.pexels.com/photos/38012/pexels-photo-38012.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

.hide-images .slider18Wrapper--element:nth-child(5):before {
    background-image: none;
}

.slider18Wrapper--element:first-child:before,
.slider18Wrapper--element:last-child:before {
    background-color: #600;
}

.slider18Wrapper--element:first-child:after,
.slider18Wrapper--element:last-child:after {
    opacity: 0.5;
}

.slider18Wrapper--element:first-child article,
.slider18Wrapper--element:last-child article {
    display: none;
}

article {
    position: relative;
    padding: 24px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    z-index: 1;
    transition: opacity 0.2s, transform 0.5s;
}

@media (min-width: 630px) {
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin: auto;
        opacity: 0;
        transform: translateY(24px) skewX(-15deg);
    }
}

h2 {
    font-size: 32px;
    margin-bottom: 12px;
}

button {
    position: fixed;
    top: 12px;
    left: 12px;
    padding: 8px 12px;
    font-size: 10px;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
    outline: none;
    cursor: pointer;
}

.slider18Wrapper--button {
    z-index: 1000000;
    font-family: 'Poppins';
    text-decoration: none;
    color: white;
    font-size: 20px;
    border: 2px solid rgba(255, 249, 255, 0.267);
    padding: 5px 15px;
    margin-top: 13px;
    transition: 0.4s;
}

.slider18Wrapper--button:hover {
    background-color: white;
    color: black;
}